{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="max-w-4xl mx-auto grid md:grid-cols-2 gap-12 items-center">
  <div>
    <img src="{% static 'img/imagem2.png' %}" alt="Ilustração de Login" class="rounded-lg">
  </div>
  <div>
    <h1 class="text-2xl font-bold mb-4">Login</h1>
    <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <br>
      <button class="btn btn-primary w-full">Entrar</button>
    </form>
    <p class="mt-4 text-sm">Ainda não tem conta? <a class="underline" href="{% url 'accounts:register' %}">Cadastre-se</a>.</p>
  </div>
</div>
{% endblock %}