{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Workshop Excel</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <script src="{% static 'js/modal.js' %}" defer></script>
</head>
<body class="text-gray-900 flex flex-col min-h-screen">
  <header class="bg-white border-b">
    <nav class="max-w-6xl mx-auto px-4 py-3 flex items-center justify-between">
      <!-- Esquerda: Título -->
      <div class="flex-1">
        <a href="/" class="font-bold brand">🧮 Workshop Excel</a>
      </div>

      <!-- Centro: Logo SENAI -->
      <div class="flex-1 flex justify-center">
        <img src="{% static 'img/senai-logo.png' %}" alt="Logo SENAI" class="h-8">
      </div>

      <!-- Direita: Navegação do Usuário -->
      <div class="flex-1 flex justify-end items-center space-x-4 text-sm">
          {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
              <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
              <a href="{% url 'accounts:registration_stats' %}" target="_blank">Relatório</a>
              <a href="{% url 'phases:all_phases_quiz' %}">Quiz</a>
            {% endif %}
            <a href="{% url 'accounts:profile' %}" class="inline-flex items-center">
              <span class="mr-2 text-lg">{{ request.user.profile.avatar_emoji }}</span>
              <span>{{ request.user.username }}</span>
            </a>
            <form action="{% url 'accounts:logout' %}" method="post" class="inline">
              {% csrf_token %}
              <button type="submit" class="text-sm hover:underline">Sair</button>
            </form>
          {% else %}
            <a href="{% url 'accounts:login' %}">Entrar</a>
            <a href="{% url 'accounts:register' %}">Cadastro</a>
          {% endif %}
      </div>
    </nav>
  </header>

  <main class="max-w-7xl mx-auto p-4 w-full flex-grow">
    {% include 'components/messages.html' %}
    {% block content %}{% endblock %}
  </main>

  <footer class="w-full text-center text-xs text-white py-4" style="background-color: var(--excel-green);">
    <div class="flex items-center justify-center space-x-2">
      <img src="{% static 'img/senai-logo.png' %}" alt="Logo" class="h-5 w-15">
      <span>&copy; {% now "Y" %} Workshop Excel</span>
    </div>
    <p class="mt-1">Desenvolvido por Prof. Daniel Meireles do Rego</p>
  </footer>
  {% block extra_js %}{% endblock %}
</body>
</html>
